[submodule "nanoGPT"]
	path = nanoGPT
	url = git@github.com:ezhang7423/nanoGPT.git
[submodule "eztils"]
	path = eztils
	url = git@github.com:ezhang7423/eztils.git
[submodule "eztransformer"]
	path = eztransformer
	url = git@github.com:ezhang7423/eztransformer.git
[submodule "research_project_2"]
	path = research_project_2
	url = ./research_project_2
